<head>
  <title>Daty</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="daty" ng-controller="DatyListCtrl">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <div class="navbar-quick">
          <span id="btn-search" class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span id="btn-add" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>

        <a class="navbar-brand" href="#">{{ 'APP_NAME' | translate }}</a>
        <login-buttons></login-buttons>

        <div class="navbar-menu" ng-show="$root.currentUser">
          <button type="button" class="btn btn-default navbar-btn" ng-click="updateListProducts('limitProducts');">{{ 'BTN_LIMIT' | translate }}</button>
          <button type="button" class="btn btn-default navbar-btn" ng-click="updateListProducts('outOfDateProducts');">{{ 'BTN_OUTOFDATE' | translate }}</button>
          <button type="button" class="btn btn-default navbar-btn selected" ng-click="updateListProducts('allProducts');">{{ 'BTN_ALL' | translate }}</button>
        </div>

      </div>
    </div>
  </nav>

  <div class="container main" ng-show="$root.currentUser">

    <!-- ADD FORM -->
     <header id="addFormProduct">
       <h1>{{ 'TITLE_ADDPRODUCT' | translate }}</h1>
        <form class="new-product" ng-submit="addProduct(labelProduct, quantityProduct, dueDateProduct, locationProduct); newProduct='';">

          <input ng-model="labelProduct" type="text" class="form-control" name="text" placeholder="{{ 'LABEL_LABEL' | translate }}" required />
          <input ng-model="quantityProduct" type="text" class="form-control" name="quantity" placeholder="{{ 'LABEL_QUANTITY' | translate }}" required />
          <input ng-model="dueDateProduct" type="date" class="form-control" name="dueDate" placeholder="{{ 'LABEL_DUEDATE' | translate }}" required />
          <input ng-model="locationProduct" type="text" class="form-control" name="location" placeholder="{{ 'LABEL_LOCATION' | translate }}" required />

          <button type="submit" class="btn btn-primary">{{ 'BTN_ADD' | translate }}</button>
        </form>
     </header>

     <!-- SEARCH FORM -->
      <header id="searchFormProduct">
        <h1>{{ 'TITLE_SEARCHPRODUCT' | translate }}</h1>
         <form class="search-product" ng-submit="searchProducts(searchProduct);">

           <input ng-model="searchProduct" type="text" class="form-control" name="text" placeholder="{{ 'LABEL_SEARCH' | translate }}...." />

           <button type="submit" class="btn btn-primary">{{ 'BTN_SEARCH' | translate }}</button>
         </form>
      </header>

    <!-- LIST -->
    <div id="listProduct">
      <h1>{{ 'TITLE_LISTPRODUCT' | translate }}</h1>
      <div ng-repeat="product in upToDateProducts" class="product col-lg-4 col-sm-3">

        <div class="left">
          <div class="text">{{product.label}}</div>
          <div class="text">{{product.quantity}} left</div>
          <a class="delete" ng-click="deleteProduct(product)">({{ 'LABEL_REMOVE' | translate }})</a>
        </div>
        <div class="right">
          <div class="text">{{product.dueDate | date:'dd/MM/yyyy'}}</div>
          <div class="text">{{product.location}}</div>
        </div>
      </div>
    </div>

  </div>
</body>
